.todayContent{
    background-color: lightslategray;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
.weather-hr{
    border: 1px solid black;
    width: 100%;
}

.weather-search{
    min-height: 40px!important;
}
.error-msg{
    background-color: red;
    display:inline-block;
    padding: 6px;
    color: white;
    border-radius: 10px;
    font-weight: 500;
    margin-top: 6px;
}

.hide{
    display: none;
}

.forecastCard{
    border: 1px solid lightslategray;
    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 6px;
}